<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Человека</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getBirthyear()}">VALUE</p>

<p th:if="${own_books.isEmpty()}" th:text="'Пока не владеет книгами'" />
<p th:unless="${own_books.isEmpty()}" th:text="'Книги:'" />

<div th:each="book : ${own_books}">
  <a th:href="@{/books/{id}(id=${book.getId()})}"
     th:style = "${book.isOutDated()} ? 'color: red' : 'color: black'" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">owned_book</a>
</div>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
  <input type="submit" value="Удалить"/>
</form>
</body>
</html>