<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor()+ ', ' + book.getYear()}">VALUE</p>


<p th:if="${owner.isEmpty()}"
   th:text="${'This book is free '}">
</p>

<p th:unless="${owner.isEmpty()}"
  th:text="${'Owner is: ' + owner.get().getName()}">
</p>

<form th:unless="${owner.isEmpty()}" th:method="PATCH" th:action="@{/books/{id}/vacate(id=${book.getId()})}" th:object="${book}">
  <input type="submit" value="Vacate book"/>
</form>


<p th:text="${book.getId()}">VALUE</p>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>