<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Страница книги</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor()+ ', ' + book.getYear()}">VALUE</p>


<p th:if="${owner.isEmpty()}"
   th:text="${'Эта книга свободна'}">
</p>

<form th:if="${owner.isEmpty()}" th:method="PATCH" th:action="@{/books/{id}/set(id=${book.getId()})}">
  <label for="new_owner">Кому её назначить</label>
  <select th:object="${book}" th:field="*{person_id}" id="new_owner">
    <option th:each="person : ${people}" th:value="${person.getId()}"
            th:text="${person.getName()}"></option>
  </select>
  <input type="submit" value="Назначить книгу"/>
</form>

<p th:unless="${owner.isEmpty()}"
  th:text="${'Текущий владелец книги: ' + owner.get().getName()}">
</p>

<form th:unless="${owner.isEmpty()}" th:method="PATCH" th:action="@{/books/{id}/vacate(id=${book.getId()})}" th:object="${book}">
  <input type="submit" value="Освободить книгу"/>
</form>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="Удалить"/>
</form>
</body>
</html>